@import './uni.scss';
@import './wotui.scss';


/* #ifdef H5 || APP-PLUS */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
/* #endif */